<article class="archive-article archive-type-post">
    <div class="archive-article-inner">
        <header class="archive-article-header">
            <h1 itemprop="name">
            <a class="archive-article-title" href="{{ .Permalink }}" lang="{{ .Lang }}">{{ .Title }}</a>
            </h1>
            <div class="archive-article-date">
                <i class="fas fa-calendar"></i>
                <time datetime="{{ .Date }}" itemprop="datePublished">
{{ default (i18n "date_format") .Site.Params.date_format | .Date.Format | i18n "postedOnDate" }}</time>
            </div>
        </header>
    </div>
</article>
